@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-Bold.woff2") format("woff2"),
        url("/fonts/Oswald-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-Medium.woff2") format("woff2"),
        url("/fonts/Oswald-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald-Regular.woff2") format("woff2"),
        url("/fonts/Oswald-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Work Sans";
    src: url("/fonts/WorkSans-Regular.woff2") format("woff2"),
        url("/fonts/WorkSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Work Sans";
    src: url("/fonts/WorkSans-SemiBold.woff2") format("woff2"),
        url("/fonts/WorkSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-oswald-regular: normal 3rem "Oswald";
    --font-oswald-medium: 500 3rem "Oswald";
    --font-oswald-bold: bold 3rem "Oswald";
    --font-worksans-regular: normal 1rem "Work Sans";
    --font-worksans-semibold: 600 1rem "Work Sans";

    font-family: "Work Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;

    color-scheme: light dark;
    color: #e4e4e7;
    background-color: #18181b;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
}

/* https://kittygiraudel.com/snippets/sr-only-class/ */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.oswald-regular {
    font: var(--font-oswald-regular);
    line-height: 1.1;
}

.oswald-medium {
    font: var(--font-oswald-medium);
}

.oswald-bold {
    font: var(--font-oswald-bold);
    line-height: 1.1;
}

.worksans-regular {
    font: var(--font-worksans-regular);
    line-height: 1.4;
}

.worksans-semibold {
    font: var(--font-worksans-semibold);
    line-height: 1.4;
}

.cut-in {
    animation: cut-in 2s cubic-bezier(0.22, 1, 0.36, 1) backwards;
}
@keyframes cut-in {
    0% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
    }
    100% {
        clip-path: polygon(0% 0%, 200% 0%, 0% 200%);
    }
}
